@layout('layouts/external')

@section('header')
  <div class="jumbo">
    <h1>Oh, No<span class="red">!</span></h1>
  </div>
  <h2>There was an error:</h2>
@endsection

@section('content')
  @!component('components.message', type = 'error', txt = errMsg)
@endsection