@layout('layouts/external')

@section('header')
  <div class="jumbo">
    <h1>Oh, No<span class="red">!</span></h1>
  </div>
  <h2>There was an error:</h2>
@endsection

@section('content')
  <div class="message--error">
    <i class="material-icons">error</i>
    {{ errMsg }}
  </div>
@endsection