@layout('layouts/external')

@section('header')
  <div class="jumbo">
    <h1>Yesss<span class="red">!</span></h1>
  </div>
  <h2>You're good to go.</h2>
@endsection

@section('content')
  <p>Try logging into the Lloud app with your new password.</p>
@endsection