<!DOCTYPE html>
<html lang="en">
  <head>
    @include('artist.partials.head')
  </head>
  <body class="artist-site">
    @include('artist.partials.nav')
    <div class="content">
      @!section('content')
    </div>
    {{--  @include('partials.footer')  --}}
  </body>
</html>