@layout('layouts/website')

@section('header')
  <div class="help-center">
    @include('partials.help.back-to-help')
    <div class="container">
      <h1 class="body fw-light">Earn points</h1>
    </div>
  </div>
@endsection

@section('content')
  <div class="help-center">
    <div class="container">
      <p>You will earn a point when another Lloud user likes a song after you.</p>
      <p>You can exchange points for rewards in the store tab.</p>
    </div>
  </div>
@endsection