$white: #ffffff;
$black: #1c1c1c;
$red: #ff4040;

$primary-light: #434343;
$primary: #1c1c1c;
$primary-dark: #000000;

$accent-light: #ff786c;
$accent: #ff4040;
$accent-dark: #c40018;

$success-light: #bef67a;
$success-medium: #8bc34a;
$success-dark: #5a9216;

$warning-light: #fff263;
$warning-medium: #fbc02d;
$warning-dark: #c49000;
