.artist-applications {
  .card {
    // TODO: Move this
    .approval {
      position: absolute;
      top: -4px;
      right: -4px;
      z-index: 1;
      background-color: $white;
      width: 25px;
      height: 25px;
      color: $primary;
      box-shadow: 5px 10px 18px #88888852;
      padding: 0.25rem;
      border: 1px solid $grey;
      border-radius: 3px;
    }

    .top {
      min-height: 200px;
      height: 50%;
      background-position: center;
      background-size: cover;
      border-radius: 5px 5px 0 0;
    }

    .bottom {
      padding: 1rem;
    }
  }
  .card:hover {
    background-color: $accent;
    color: $white;
    box-shadow: none;

    .top {
      opacity: 0.75;
    }
  }
}
.artist-application {
  padding: 1rem 0 0 0;

  .approval {
    margin: 0 0 1rem 0;
  }
  .album-art {
    width: 400px;
    height: 400px;
    overflow: hidden;
    background-color: $grey;

    img {
      width: 100%;
      height: auto;
    }
  }
}

#home {
  #learn-more {
    #red-arrow {
      float: right;
      clear: right;
    }
  }
}
@media (min-width: $breakpoint-tablet) {
  #home {
    #learn-more {
      position: relative;
      height: 75px;

      .learn-more-link {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $white;
        padding: 0 1.5rem;
      }
    }
  }
}
@media (min-width: $breakpoint-desktop) {
  #home {
    #learn-more {
      #red-arrow {
        float: none;
        text-align: center;
      }
    }
  }
}

#what-is-lloud {
  .display {
    font-size: 2.75rem;
  }

  .walkthrough-step {
    h1 {
      margin: 0;
    }

    p {
      font-size: 1.1rem;
    }
  }
}

.help-center {
  h1 {
    font-size: 2.75rem;
  }

  .help-link-group {
    list-style-type: none;
    margin: 0 0 3rem 0;
    padding: 0;
  }

  li {
    margin: 0 0 1rem 0;
  }

  .help-link {
    font-weight: 300;
  }
  .help-link a:hover {
    color: $red;
  }
}

#about {
  .content-block {
    padding: 0.5rem 0 0 0;
  }
}
@media (min-width: $breakpoint-tablet) {
  #about {
    .content-block {
      padding: 2rem 0;
    }
  }
}

@media (min-width: $breakpoint-tablet) {
  .contact {
    .contact-input {
      margin: 0 0 1.5rem 0;
    }
  }
}
