// Text Align
.center {
  text-align: center;
}

.right {
  text-align: right;
}

// Flexbox
.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

// Font weight
.fw-black {
  font-weight: 900;
}

.fw-regular {
  font-weight: 400;
}

.fw-light {
  font-weight: 300;
}

// Margin
.m0 {
  margin: 0;
}
