// Jumbo
.jumbo {
  font-size: 4rem;
}
@media (max-width: $breakpoint-tablet) {
  .jumbo {
    font-size: 7vw;
  }
}

// Button
%button-shared {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  display: inline-flex;
  border-radius: 3px;
  box-sizing: border-box;

  .material-icons {
    text-shadow: none;
    margin: 0 0.5rem 0 0;
  }
}

.button {
  @extend %button-shared;
}

.button--primary {
  @extend %button-shared;
  color: $white;
  background-color: $accent;
}

// Hollow Button
%button-hollow-shared {
  display: inline-flex;
  border-radius: 3px;
  box-sizing: border-box;
  border: 1px solid $primary;
  background-color: transparent;
  font-size: 0.75rem;

  .material-icons {
    margin: 0 0.5rem 0 0;
  }
}

.button--hollow {
  @extend %button-hollow-shared;
}
.button--hollow:hover {
  background-color: $primary;
  color: $white;
}

// Message
%message-shared {
  padding: 1rem;
  border-radius: 3px;
  margin: 0 0 1rem 0;
  display: flex;
  align-items: center;

  .material-icons {
    margin: 0 0.5rem 0 0;
  }
}

.message {
  @extend %message-shared;
  background-color: rgb(224, 224, 224);
}
.message--success {
  @extend %message-shared;
  background-color: $success-light;
  color: $success-dark;
}
.message--warning {
  @extend %message-shared;
  background-color: $warning-light;
  color: $warning-dark;
}
.message--error {
  @extend %message-shared;
  background-color: $error-light;
  color: $error-dark;
}

// Cards
%card-shared {
  margin: 0.5rem;
  border-radius: 5px;
  box-shadow: 5px 10px 18px #88888852;
  width: 250px;
  display: inline-block;
}

.card {
  @extend %card-shared;
  background-color: $white;
  text-decoration: none;
  color: $primary;
  position: relative;
}

// Nav
.nav {
  height: 56px;
  background-color: $primary;

  .container {
    display: flex;
    align-items: center;
    height: 100%;
  }
}

// Logo
.logo {
  margin: 0;
  color: $white;
  font-weight: 900;
  text-decoration: none;
}

// Hero
%hero {
  width: 100%;
  padding: 1rem 0;

  h1 {
    font-size: 5rem;
    margin: 1rem 0;
  }
}

.hero.hero--black {
  @extend %hero;

  background-color: $primary;
  background-image: url("/images/monitor-blk-pattern.png");
  background-size: 50px auto;
}
.hero.hero--white {
  @extend %hero;

  background-color: $white;
  background-image: url("/images/monitor-wht-transparent-pattern.png");
  background-size: 100px auto;
  box-sizing: border-box;
  border-bottom: 1px solid #e8e8e8;
}

// Footer
.footer {
  border-top: 1px solid #d4d4d4;
  box-sizing: border-box;
  padding: 2rem 0;
  text-align: center;
  font-size: 0.8rem;

  .footer-link-group {
    margin: 0 0 2rem 0;
  }

  .footer-links {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
      margin: 0 0 1rem 0;
    }
  }

  .footer-link {
    font-weight: 300;
  }

  .copyright {
    font-weight: 300;
  }
}

@media (min-width: $breakpoint-tablet) {
  .footer {
    text-align: left;

    .footer-link-group {
      margin: 0;
    }

    .copyright {
      text-align: right;
    }
  }
}
