@import "fonts";
@import "colors";
@import "icons";

// Vars
$breakpoint-mobile: 400px;
$breakpoint-tablet: 768px;

// Global Defaults
html {
  font-size: $default-font-size;
}

body {
  color: $black;
  font-family: $body;
}

h1 {
  font-family: $display;
  font-weight: 900;
}

h2,
h3,
h4,
legend {
  font-family: $display;
  font-weight: normal;
}

.white {
  color: $white;
}

.red {
  color: $red;
}

// Layout Specific
.external {
  width: 50%;
  margin: 0 auto;

  .content {
    margin: 3rem 0 0 0;
  }

  .field {
    margin: 0 0 1rem 0;
  }

  .error {
    color: $red;
    font-style: oblique;
    font-size: 0.9rem;
  }
}
@media (max-width: $breakpoint-mobile) {
  .external {
    width: auto;
    padding: 1rem;
  }
}
@media (max-width: $breakpoint-tablet) {
  .external {
    width: auto;
    padding: 2rem;
  }
}

// Widgets
@import "widgets";
.jumbo {
  font-size: 4rem;
}
@media (max-width: $breakpoint-tablet) {
  .jumbo {
    font-size: 7vw;
  }
}
