@import "fonts";
@import "colors";
@import "icons";

// Vars
$breakpoint-mobile: 400px;
$breakpoint-tablet: 768px;

// Global Defaults
html {
  font-size: $default-font-size;
}

html,
.pure-g [class*="pure-u"] {
  font-family: $body;
}

h1 {
  font-family: $display;
  font-weight: 900;
}

h2,
h3,
h4,
legend {
  font-family: $display;
  font-weight: normal;
}

// Layout Specific
@import "layouts";

// Widgets
@import "widgets";

// Page Specific
@import "pages";
