<title>Lloud for Artists</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

@include('partials.favicon')

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{{ style('https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css') }}
{{ style('https://unpkg.com/purecss@1.0.1/build/base-min.css') }}
{{ style('https://unpkg.com/purecss@1.0.1/build/pure-min.css') }}
{{ style('https://unpkg.com/purecss@1.0.1/build/grids-responsive-min.css') }}
{{ style('css/artist/app') }}