<nav class="nav">
  <div class="container pure-g flex align-center">
    <div class="pure-u-20-24">
    <a href="{{ route('artist.home') }}"><h4 class="logo">Lloud<span class="red">. for Artists</span></h4></a>
    </div>
    <div class="pure-u-4-24 right">
    <a href="{{ route('artist.user.login') }}" class="white pure-button button--hollow button--red">Login</a>
    </div>
  </div>
</nav>