<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="margin: 0; padding: 0;">
  <table align="center" cellpadding="0" width="550" cellspacing="0" style="border-collapse: collapse; font-size: 16px;">
    <tr>
      <td style="text-align: center; background-color:#ffffff; padding: 20px 10px 20px 10px; border-bottom: 1px solid #1c1c1c;">
        @include('partials.emails.banner')
      </td>
    </tr>
    <tr>
      <td style="padding: 40px 20px 40px 20px;">
        @!section('content')
      </td>
    </tr>
    <tr>
      <td style="font-size: 12px; padding: 10px 0px 0px 0px; border-top: 1px solid #1c1c1c;">
        @include('partials.emails.footer')
      </td>
    </tr>
  </table>
 </body>
</html>