<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Lloud</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{ assetsUrl('images/favicon.ico') }}" type="image/x-icon"/>
    {{--  <link rel="shortcut icon" href="" type="image/x-icon"/>  --}}
    {{ style('https://unpkg.com/purecss@1.0.1/build/pure-min.css') }}
    {{ style('https://unpkg.com/purecss@1.0.1/build/grids-responsive-min.css') }}
    {{ style('css/app') }}
  </head>
  <body id="external-form" class="external">
    <header class="header">
      @!section('header')
    </header>
    <div class="content">
      @!section('form') 
    </div>
  </body>
</html>