<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Lloud</title>
  </head>
  <body>
    <header class="header">
      @!section('header')
    </header>
    <div class="content">
      @!section('content')
    </div>
  </body>
</html>