<!DOCTYPE html>
<html lang="en">
  <head>
    @include('partials.head')
  </head>
  <body id="external-form" class="external">
    <header class="header">
      @!section('header')
    </header>
    <div class="content">
      @!section('form') 
    </div>
  </body>
</html>