<a href="{{ route('admin.songs.show', { id: song.id }) }}" class="song-wrapper">
  <div class="song" style="background-image: url('{{ song.getRelated('imageFile').location }}');">
      @include('admin.partials.song-approval')
      <div class="song__info-bar">
        <h4 class="song__title">{{ song.title }}</h4>
      </div>
  </div>
</a>